<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.SrecordMapper">
    <insert id="addS">
        INSERT INTO SRECORD (REC_ID,REC_VISTO_ID,REC_JOB_ID) VALUES (SREC__SEQ.nextval,#{rec_visto_id},#{rec_job_id})
    </insert>
</mapper>